* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'open sans';
}

img {
    user-select: none;
    pointer-events: none;
}

.body-bg {
    position: fixed;
    inset: 0;
    background: #2F80ED;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    z-index: -999;
}

.row {
    height: 100%;
    display: flex;
    gap: 1em;
    padding: 2em;
    overflow: auto;
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
}


.col-1-content {
    width: 320px;
    margin-top: 5vh;
}

.col-1-content .title {
    font-size: 2.5em;
    font-weight: 900;
    color: #2F80ED;
}

.col-1-content .title .black {
    color: black;
    font-weight: 600;
}

.col-1-content .title .extra-bold {
    font-weight: 900;
}

.col-1-content .list {
    margin-top: 1.2em;
    font-size: 1.5em;
    font-weight: 800;
    margin-left: 1em;
}

.mobile-container {
    display: flex;
    align-items: center;
    gap: 1.4em;
}

.mobile{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    position: relative;
}
.mobile .mobile-top-bar{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.mobile .mobile-bottom-bar{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 35px;
    left: 16px;
    z-index: -1;
}
.mobile img{
    width: 100%;
    height: 100%;
    max-height: 31em;
    position: relative;
}


@media screen and (width < 800px) {

    .row {
        flex-direction: column;
        gap: 5em;
    }

    .col-1-content {
        margin-top: 0;
    }

    .mobile-container {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 5em;
        padding-bottom: 3em;
    }

    .mobile {
        flex: 1;
        position: relative;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        width: min(95%,18em);
    }

    .mobile .mobile-top-bar{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    .mobile .mobile-bottom-bar{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: unset;
    }


}

@media screen and (width < 400px) {

    .row {
        flex-direction: column;
        gap: 5em;
    }

    .col-1-content {
        margin-top: 0;
    }

    .mobile-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .mobile {
        position: relative;
        flex-basis: 60%;
        gap: 3.5em;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        width: min(95%,18em);
    }

    .mobile .mobile-top-bar{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    .mobile .mobile-bottom-bar{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: unset;
    }


}