:root {
  --main-color: #c0392b;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;

  --nav-height: 60px;
  --space-top: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #000000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
}

.nav a {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.location {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.location i {
  cursor: pointer;
}

.nav-menu a {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu a:hover {
  color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
  color: unset;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}
.user-image {
  overflow: hidden;
}

.user-image img {
  scale: 2;
}

.user h4 {
  font-size: 18px;
}

.user h4 span {
  color: #c0392b;
}

.user img {
  border: 3px solid #c0392b;
  width: 3em;
  height: 3em;
  border-radius: 30px;
}

.account-details-nav {
  position: absolute;
  top: 100%;
  right: -200%;
  background-color: var(--body-bg);
  flex-direction: column;
  width: 54vh;
  height: 100vh;
  padding: 20px;
  padding-top: 0px;
  transition: 0.3s ease-in-out;
}

.account-details-nav.active {
  right: 0;
}

.ad-nav-header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}

.ad-nav-header-comp-1 {
  display: flex;
  flex-direction: column;
}

.ad-nav-header-comp-1 span {
  font-size: 13px;
  color: lightgrey;
  cursor: pointer;
}

.ad-nav-header-comp-2 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.ad-nav-header-comp-2 img {
  width: 2.7em;
  height: 2.7em;
  border: 3px solid #c0392b;
  cursor: pointer;
  border-radius: 30px;
}

.ad-nav-header-comp-2 h4 {
  font-size: 18px;
}

.ad-nav-details {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1.7em;
}

.ad-nav-details li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}

.ad-nav-details li i {
  font-size: 30px;
  color: lightslategray;
}
.ad-nav-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
}

.user-profile-image {
}

.ad-nav-content h4 {
  font-size: 15px;
}

.ad-nav-content:hover.ad-nav-content h4 {
  color: #c0392b;
}

.ad-nav-content span {
  font-size: 12px;
}

.btn {
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  align-items: center;
}

.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in;
}

.btn-hover:hover::before {
  width: 100%;
}

.btn i,
.btn span {
  z-index: 1;
}

.btn i {
  margin-right: 1rem;
}

.hamburger-menu {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: none;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.hamburger-menu.active .hamburger {
  background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
}

.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

/* Popup-Location Select */

.popup-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  opacity: 0;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 12px;
  z-index: 999;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.top-down {
  transform: translate(-50%, -200%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in;
}

.popup-location.active {
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-out;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid lightslategray;
  border-radius: 8px;
}

.search-field i {
  position: absolute;
  left: 0;
  color: lightslategray;
  font-size: 17px;
  margin: 0px 8px;
}

.detect-my-location {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid lightslategray;
}
.detect-my-location i {
  position: absolute;
  color: #c0392b;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.detect-my-location p {
  position: relative;
  left: 60px;
  width: 100%;
  color: #c0392b;
  margin-bottom: 10px;
}

.search-field input {
  width: 100%;
  height: 34px;
  padding: 0px 40px;
  border-radius: 7px;
  outline: none;
  border: none;
}

.popular-cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.popular-cities p {
  color: #c0392b;
  margin-bottom: 10px;
}

.popular-cities ul button {
  padding: 5px 5px;
  outline: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.view-all-btn {
  cursor: pointer;
  align-items: center;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 15px 10px;
  color: #c0392b;
  background-color: transparent;
}

.pcities {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.pcities li {
  list-style: none;
}

#noresult {
  display: none;
}

.bc-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.ticket {
  position: relative;
  border: 2px solid white;
  background: var(--box-bg);
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 2em 2em;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(246, 243, 243, 0.12) 0px -12px 30px,
    rgba(203, 195, 195, 0.12) 0px 4px 6px,
    rgba(206, 200, 200, 0.17) 0px 12px 13px,
    rgba(247, 244, 244, 0.09) 0px -3px 5px;
}
.ticket:before,
.ticket:after {
  content: "";
  position: absolute;
  top: 50%; /* Start from the middle */
  transform: translateY(-50%); /* Center vertically */
  height: 1.2em;
  width: 0.6em;
  border: 2px solid white;
}

.ticket:before {
  left: -2px;
  border-radius: 0 1em 1em 0;
  border-left-color: black;
}

.ticket:after {
  right: -2px;
  border-radius: 1em 0 0 1em;
  border-right-color: black;
}

.movie-details-1 {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  align-items: center;
}

#movie-name {
  font-size: 40px;
}

.tikets-div {
  display: flex;
  flex-direction: column;
  border: 1px solid #e78e84;
  padding: 10px;
  border-radius: 15px;
  color: #c0392b;
  font-size: 14px;
  font-weight: 700;
}
#noofticket {
  font-size: 20px;
}

.movie-details-2 {
  display: flex;
  font-size: 20px;
}

#screen-name {
  color: #c0392b;
  margin-left: 10px;
}

.movie-details-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
}

#booked-tickets {
  display: flex;
  justify-content: flex-start;
}

#booked-snacks {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
}
#booked-snacks span {
  margin-left: 10px;
}

.movie-details-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#payment-status {
  margin-left: 20px;
}

.confirmed {
  color: lightgreen;
}

.pending {
  color: red;
}

.payment-amount {
  display: flex;
  font-size: 24px;
}
#amount {
  margin-left: 10px;
  color: #c0392b;
}

/* Loader for movies */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #c0392b; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1153px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 0 15px;
  }

  .hamburger-menu {
    display: grid;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #000000;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li {
    margin: 10px 30px;
  }

  .nav-menu.active {
    left: 0;
  }
}
