:root {
  --main-color: #c0392b;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;

  --nav-height: 60px;
  --space-top: 30px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
  height: 100vh;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hamburger-menu {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: none;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.hamburger-menu.active .hamburger {
  background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
}

.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #000000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
}

.nav a {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.location {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.location i {
  cursor: pointer;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-left: auto;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu a {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu a:hover {
  color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
  color: unset;
}

.btn {
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  align-items: center;
}

.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in;
}

.btn-hover:hover::before {
  width: 100%;
}

.btn i,
.btn span {
  z-index: 1;
}

.btn i {
  margin-right: 1rem;
}

/* Popup-Location Select */

.popup-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  opacity: 0;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 12px;
  z-index: 999;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.top-down {
  transform: translate(-50%, -200%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in;
}

.popup-location.active {
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-out;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid lightslategray;
  border-radius: 8px;
}

.search-field i {
  position: absolute;
  left: 0;
  color: lightslategray;
  font-size: 17px;
  margin: 0px 8px;
}

.detect-my-location {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid lightslategray;
}
.detect-my-location i {
  position: absolute;
  color: #c0392b;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.detect-my-location p {
  position: relative;
  left: 60px;
  width: 100%;
  color: #c0392b;
  margin-bottom: 10px;
}

.search-field input {
  width: 100%;
  height: 34px;
  padding: 0px 40px;
  border-radius: 7px;
  outline: none;
  border: none;
}

.popular-cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.popular-cities p {
  color: #c0392b;
  margin-bottom: 10px;
}

.popular-cities ul button {
  padding: 5px 5px;
  outline: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.view-all-btn {
  cursor: pointer;
  align-items: center;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 15px 10px;
  color: #c0392b;
  background-color: transparent;
}

.pcities {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.pcities li {
  list-style: none;
}

/* Main container Styling */

.main-container {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.hero-container {
  width: 100%;
  background-color: rgb(26, 26, 26);
}

.hero-subcontainer {
  width: 92%;
  padding: 32px 0px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgb(26, 26, 26);
  position: relative;
  margin: 0px auto;
  max-width: 1440px;
  background-image: linear-gradient(
      90deg,
      rgb(26, 26, 26) 24.97%,
      rgb(26, 26, 26) 38.3%,
      rgba(26, 26, 26, 0.04) 97.47%,
      rgb(26, 26, 26) 100%
    ),
    url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/furiosa-a-mad-max-saga-et00377865-1712650113.jpg);
  min-height: 480px;
}

.hero-elements {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 1240px;
  margin: 0px auto;
  position: relative;
  width: 100%;
  flex-direction: row;
}

.hero-image {
  width: 261px;
  height: 416px;
  overflow: hidden;
  flex-shrink: 0;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: column;
}

.incinemas {
  width: 100%;
  height: 32px;
  border-radius: 0px 0px 16px 16px;
  background-color: #000000;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.hero-details {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  flex: 1;
  flex-grow: 1;
  padding-left: 32px;
  max-width: 520px;
}

.hero-details h1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

.hero-rating {
  display: flex;
  font-size: 100%;
  font-weight: 700;
  padding: 12px 24px;
  margin: 16px 0px 0px;
  max-width: 446px;
  background-color: rgb(51, 51, 51, 0.8);
  min-height: 64px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.hero-rating-left {
  max-width: 70%;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
  align-items: center;
}

.star {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #c0392b;
}
.imdb-rating {
  padding: 0px 8px;
}
.hero-rating button {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  justify-content: center;
  font-size: 100%;
  align-items: center;
  display: flex;
  margin-left: 4px;
  padding: 8px 12px;
  border: none;
  color: rgb(26, 26, 26);
}

.votes {
  font-weight: 400;
}
.votes span {
  margin-left: 15px;
}

.hero-format-details {
  display: flex;
  flex-wrap: wrap;
}

.hero-format-details div {
  background-color: #d9d4e1;
  border-radius: 5px;
  color: black;
  padding: 0px 10px;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero-format-details div a {
  margin-left: 5px;
}

.hero-format-details div a:hover {
  text-decoration: underline;
  transition: 0.3s ease-in;
}

.movie-details {
  display: flex;
  gap: 2.2rem;
  margin-left: 3px;
}

.movie-details ul {
  display: flex;
  gap: 2.5rem;
}

.synopsis-container {
  position: relative;
  display: flex;
  max-width: 1240px;
  margin: 0px auto;
  width: 92%;
}

.synopsis {
  background-color: var(--body-bg);
  flex: 1 1 0%;
  width: 100%;
  max-width: calc(100% - 224px);
  overflow: auto hidden;
  height: 100%;
  padding-top: 0px;
  margin-top: 0px;
  padding-top: 20px;
}

.component-1 {
  padding-bottom: 50px;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
}

.component-2 {
  padding-bottom: 50px;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
}

.component-3 {
  margin-bottom: 30px;
}

.cast-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.swiper-container {
  width: 100%;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cast-card img {
  border-radius: 60px;
  width: 120px;
  height: 120px;
}
.cast-card p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.cast-card span {
  font-size: 14px;
  margin-left: 0;
  position: relative;
  bottom: 5px;
}

.cast-container {
  overflow: scroll;
  position: relative;
}

.cast-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cast-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.review-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.review-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-head span {
  color: #c0392b;
}

.review-card-container {
  width: 100%;
  display: flex;
  transition: all 0.5s ease 0s;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 24px 0px 0px;
}

.hashtag-container {
  margin-top: 10px;
  width: 100%;
}

.hashtag-card {
  display: flex !important;
  cursor: pointer;
  width: 200px !important;
  background-color: rgb(38, 57, 77);
  border-radius: 15px;
  align-items: center !important;
}

.hashtag-card span {
  color: #c0392b;
  font-weight: bold;
  padding-bottom: 2px;
}

.hashtag-card .hashtag-count {
  background-color: #221f1f;
  color: lightgrey;
  padding: 0px 5px;
  border-radius: 15px;
  font-size: 11px;
}

.review-card-container {
  /* margin-top: 25px; */
  width: 100%;
}

.review-card {
  scroll-snap-align: center;
  display: flex;
  min-width: 446px;
  flex-shrink: 0;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 446px;
  margin-left: 32px;
  padding: 24px;
  min-height: 240px;
}

.top-review-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-btn {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255, 0) 50%
  );
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: absolute;
  animation: 0.3s ease 0s 1 normal none running lbWRkT;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 40px;
  border-bottom-right-radius: 20px;
}

.left-btn-content {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(34, 34, 34, 0.8);
  opacity: 0.8;
  cursor: pointer;
  top: 146px;
  position: absolute;
}

.left-btn-content i {
  font-size: 30px;
}
.right-btn-content i {
  font-size: 30px;
}

.right-btn-content {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(34, 34, 34, 0.8);
  opacity: 0.8;
  cursor: pointer;
  top: 146px;
  position: absolute;
}

.right-btn {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255, 0) 50%
  );
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: absolute;
  /* animation: 0.3s ease 0s 1 normal none running lbWRkT; */
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 40px;
}

.card-footer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.opinion {
  display: flex;
  align-items: center;
  max-width: 40vw;
  gap: 1.2rem;
}

.read-more {
  color: #c0392b;
}

.review-description {
  max-height: 4.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  color: rgb(204, 204, 204);
}

.review-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profile {
  display: flex;
  align-items: center;
  width: 5.5rem;
}

.user-profile i {
  font-size: 35px;
  color: #c0392b;
}
.user-profile span {
  color: rgb(204, 204, 204);
  font-size: 20px;
  margin-left: 10px;
}
.review-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-rating i {
  font-size: 25px;
  color: #c0392b;
}

.review-rating span {
  margin-left: 10px;
  font-size: 16px;
}

.date-share {
  max-width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}

.posted-date {
  color: rgb(204, 204, 204);
}

@media screen and (max-width: 1000px) {
  .hamburger-menu {
    display: grid;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #000000;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    padding: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li {
    margin: 10px 30px;
  }

  .nav-menu.active {
    right: 0;
  }

  .popup-location {
    width: 80%;
  }
}

@media screen and (max-width: 810px) {
  .hero-image {
    width: 80%;
    height: 596px;
    overflow: visible;
  }

  .hero-subcontainer {
    background-image: none;
  }
  .incinemas {
    height: 80px;
  }

  .hero-elements {
    flex-direction: column;
    gap: 1.2rem;
  }

  .synopsis {
    max-width: calc(100% - 124px);
  }

  .hero-details {
    margin-top: 20px;
    padding-left: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    flex: 1;
    flex-grow: 1;
  }

  .hero-format-details {
    display: none;
  }

  .movie-details {
    flex-wrap: wrap;
  }
  .movie-details ul {
    flex-wrap: wrap;
  }
  .booknow {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .booknow a {
    width: 100%;
    justify-content: center;
    padding: 0.25rem 1.5rem;
  }
  .swiper-slide {
    width: 202px !important;
  }
}

@media screen and (max-width: 610px) {
  .hero-image {
    width: 90%;
    height: 456px;
    overflow: visible;
  }

  .hero-subcontainer {
    background-image: none;
  }
  .incinemas {
    height: 80px;
  }

  .synopsis {
    max-width: calc(100% - 24px);
  }

  .hero-elements {
    flex-direction: column;
    gap: 1.2rem;
  }

  .hero-details {
    padding-left: 0;
    width: 90%;
    margin-top: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .hero-details h1 {
    font-size: 29px;
  }

  .hero-rating {
    gap: 1.2rem;
    max-width: 380px;
    flex-direction: column;
    margin: 0;
  }

  .hero-rating button {
    width: 100%;
  }
  .hero-rating-left {
    max-width: 100%;
  }

  .hero-format-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .movie-languages {
    flex-wrap: wrap;
  }
  .movie-details ul {
    margin-left: 20px;
    gap: 1.8rem;
  }
  .booknow {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .booknow a {
    width: 100%;
    justify-content: center;
    padding: 0.25rem 1.5rem;
  }
}
